#container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 1%;
    margin: auto;
}
.box{
    border: 1px solid red;
    /* border-radius: 1%; */
}
img{
    width: 100%;
}